.root {
  max-width: 100%;
}

.media {
  max-height: 50%;
  padding-top: 56.25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cardActions {
  display: flex;
  justify-content: flex-end;
}

.cardContent {
  display: flex;
  justify-content: space-between;
}
